@font-face {
  font-family: "poppins";
  src: url(./style/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppins-bold";
  src: url(./style/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "nura";
  src: url(./style/fonts/Nura/TTF/Nura-Black.ttf);
}

:root{--cust-white:#fcfaf9;--cust-dark:#333333;--cust-blue:#48e5c2;}


